.homeMain-container {
  display: flex;
  width: 100%;
}

.mainSection {
  flex: 1;
  height: var(--homeMain-height);
}

.left {
  background-color: #faf4f4;
}

.right {
  background-color: #dbdcdb;
}
