.homeMain-container {
  display: flex;
}

.mainSection {
  flex: 1;
  height: var(--homeMain-height);
  border-style: solid;
  border-color: black;
}

.left {
  background-color: #faf4f4;
}

.right {
  background-color: #dbdcdb;
}
