.homeBlog-container {
  display: flex;
}

.blogSection {
  padding-top: 6.5rem;
  display: flex;
  height: var(--homeExperience-height);
  flex-direction: column;
}

.blogLeft {
  flex: 1;
  background-color: #faf4f4;
  display: flex;
}

.blogRight {
  flex: 1;
  background-color: #dbdcdb;
}

.blogLeftTop {
  flex: 1;
  text-align: center;
}

.blogLeftMiddle {
  flex: 2;
  text-align: center;
}

.blogLeftBottom {
  flex: 1;
}

.blogLaptop {
  position: relative;
  top: -1rem;
  right: 2rem;
}

.blogIPhone {
  position: relative;
  top: -20rem;
  right: -8rem;
}
