.homeResources-container {
  display: flex;
}

.resourcesSection {
  display: flex;
  height: var(--homeResources-height);
  flex-direction: column;
}

.resourcesLeft {
  flex: 1;
  background-color: var(--background-color);
  display: flex;
}

.resourcesRight {
  flex: 1;
  background-color: var(--background-color);
}

.resourcesLeftTop {
  flex: 1;
}

.resourcesLeftMiddle {
  flex: 2;
}

.resourcesLeftBottom {
  flex: 1;
}

.resourcesIPhone {
  position: relative;
  top: 5rem;
  right: 0rem;
}

.numberResources {
  font: var(--number-font);
  position: relative;
  left: 5rem;
  top: 1rem;
  color: var(--accent-two);
}

.myResources {
  font-size: 4.5rem;
  position: relative;
  left: 15rem;
  top: -4rem;
}

.myResourcesAnswer {
  font-size: 1.25rem;
  position: relative;
  left: 14rem;
  top: -1rem;
}
