.iphone {
  width: 200px;
  height: 400px;
  background-color: var(--accent-one);
  border-radius: 25px;
  margin: 50px auto;
  position: relative;
}

.iphone-screen {
  width: 180px;
  height: 380px;
  background-color: grey;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;
}

.iphone-notch {
  width: 100px;
  height: 18px;
  background-color: var(--accent-one);
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.iphone-volume-up,
.iphone-volume-down {
  width: 8px;
  height: 40px;
  background-color: var(--accent-one);
  position: relative;
  left: -7.5%;
}

.iphone-volume-up {
  top: 70px;
}

.iphone-volume-down {
  top: 80px;
}

.iphone-power-button {
  width: 8px;
  height: 70px;
  background-color: var(--accent-one);
  position: absolute;
  top: 85px;
  right: -7%;
}

.iphone-swipe-bar {
  width: 100px;
  height: 7px;
  background-color: var(--accent-one);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
