.homeExperience-container {
  display: flex;
}

.experienceSection {
  padding-top: 6.5rem;
  display: flex;
  height: var(--homeExperience-height);
  flex-direction: column;
}

.experienceLeft {
  flex: 1.1;
  background-color: #faf4f4;
  display: flex;
}

.experienceRight {
  flex: 1;
  background-color: #dbdcdb;
  display: flex;
}

.experienceLeftTop {
  flex: 1;
  text-align: center;
}

.experienceLeftMiddle {
  flex: 2;
  text-align: center;
}

.experienceLeftBottom {
  flex: 1;
}

.experienceRightTop {
  flex: 1;
  text-align: center;
}

.experienceRightBottom {
  flex: 4;
  text-align: center;
}

.experienceRightTop,
.experienceRightBottom {
  border-style: solid;
  border-color: black;
}
