.homeAbout-container {
  display: flex;
}

.aboutSection {
  flex: 1;
  height: var(--homeMain-height);
  display: flex;
  flex-direction: column;
}

.aboutLeft {
  background-color: #dbdcdb;
}

.aboutRight {
  background-color: #faf4f4;
}
