.homeAbout-container {
  display: flex;
}

.aboutSection {
  padding-top: 6.5rem;
  display: flex;
  height: var(--homeAbout-height);
  flex-direction: column;
}

.aboutLeft {
  flex: 1.5;
  background-color: var(--background-color);
  display: flex;
}

.aboutLeftTop {
  flex: 1;
}

.aboutLeftMiddle {
  flex: 2;
}

.aboutLeftBottom {
  flex: 1;
  position: relative;
  top: 1rem;
  left: 0rem;
}

.aboutRight {
  flex: 1;
  display: flex;
  background-color: var(--background-color);
}

.aboutRightTop,
.aboutRightMiddle,
.aboutRightBottom {
  flex: 1;
}

.number {
  font: var(--number-font);
  position: relative;
  left: 5rem;
  top: 1rem;
  color: var(--accent-two);
}

.whoAmI {
  font-size: 5.5rem;
  position: relative;
  left: 16rem;
  top: -4rem;
}

.whoAmIAnswer {
  font-size: 1.25rem;
  position: relative;
  left: 12rem;
  top: -1rem;
}

.button-1 {
  position: relative;
  left: 13rem;
  top: -5rem;
}

.button-2 {
  position: relative;
  left: 26rem;
  top: -8rem;
}

.cross {
  position: relative;
  right: 12.4rem;
  top: -8rem;
  color: var(--accent-one);
}
