.homeAbout-container {
  display: flex;
}

.aboutSection {
  padding-top: 6.5rem;
  display: flex;
  height: var(--homeAbout-height);
  flex-direction: column;
}

.aboutLeft {
  flex: 1.5;
  background-color: var(--background-color);
  display: flex;
}

.aboutLeftTop {
  flex: 1;
  text-align: center;
}

.aboutLeftMiddle {
  flex: 2;
  text-align: center;
}

.aboutLeftBottom {
  flex: 1;
  position: relative;
  top: 2rem;
  left: 0rem;
}

.aboutRight {
  flex: 1;
  display: flex;
  background-color: var(--background-color);
}

.aboutRightTop,
.aboutRightMiddle,
.aboutRightBottom {
  flex: 1;
}
