.homeAbout-container {
  display: flex;
}

.aboutSection {
  padding-top: 6.5rem;
  display: flex;
  height: var(--homeAbout-height);
  flex-direction: column;
}

.aboutLeft {
  flex: 1.5;
  background-color: var(--background-color);
  display: flex;
}

.aboutLeftTop {
  flex: 1;
}

.aboutLeftMiddle {
  flex: 2;
}

.aboutLeftBottom {
  flex: 1;
  position: relative;
  top: 1rem;
  left: 0rem;
}

.aboutRight {
  flex: 1;
  display: flex;
  background-color: var(--background-color);
}

.aboutRightTop,
.aboutRightMiddle,
.aboutRightBottom {
  flex: 1;
}

.number {
  font: var(--number-font);
  position: relative;
  left: 5rem;
  top: 1rem;
  color: var(--accent-two);
}

.whoAmI {
  font-size: 5.5rem;
  position: relative;
  left: 16rem;
  top: -4rem;
}

.whoAmIAnswer {
  font-size: 1.25rem;
  position: relative;
  left: 12rem;
  top: -1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  background-color: var(--accent-one);
  color: var(--background-color);
  border: var(--accent-one);
  border-radius: 25px;
}

.button-text {
  font-family: var(--header-font);
  font-size: 1.1rem;
  position: relative;
  top: 0.8rem;
}

a.button-text,
a.button-text:active,
a.button-text:visited {
  text-decoration: none;
}
