/* Container positioning */
.homeExperience-container {
  display: flex;
}

.experience-section {
  padding-top: 7.5rem;
  display: flex;
  height: var(--homeExperience-height);
  flex-direction: column;
}

.experience-left {
  flex: 1;
  background-color: var(--background-color);
  display: flex;
}

.experience-right {
  flex: 1;
  background-color: var(--background-color);
  display: flex;
}

.experienceLeftTop {
  flex: 1;
}

.experience-left-middle {
  flex: 2;
}

.experienceLeftBottom {
  flex: 1;
}

.experience-right-top {
  flex: 1;
}

.experience-right-bottom {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.experienceRightBottomTop {
  flex: 2;
}

.experienceRightBottomBottom {
  flex: 1;
}

/* Text and button positioning */
.number-experience {
  font: var(--number-font);
  position: relative;
  left: 5rem;
  top: 1rem;
  color: var(--accent-two);
}

.my-experience {
  font-size: 4.5rem;
  position: relative;
  left: 14rem;
  top: -2rem;
}

.my-experience-answer {
  font-size: 1.25rem;
  position: relative;
  left: 14rem;
  top: 2rem;
}

.experience-button-1 {
  position: relative;
  left: 13rem;
  top: -2rem;
}

.experience-button-2 {
  position: relative;
  left: 25rem;
  top: -5rem;
}

/* Skills at a glance */
.skills-container {
  display: flex;
  background-color: var(--background-color-);
  padding-left: 5rem;
  padding-right: 5rem;
}

.skill-section {
  flex: 1;
  background-color: var(--background-color-);
  text-align: center;
}

.skill-left {
  border-right: 0.125rem solid var(--accent-one);
}

.skill-section h2 {
  color: var(--accent-one);
  border-bottom: 0.125rem solid var(--accent-one);
}

.skill-section ul {
  list-style-type: none;
  padding: 0rem;
  margin-top: -0.8rem;
}

.skill-section li {
  padding: 0.4rem;
}
