.experience-page {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.experience-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.experience-description {
  font-family: var(--font-family);
  color: var(--accent-one);
  font-size: 30px;
}
