.homeBlog-container {
  display: flex;
}

.blogSection {
  padding-top: 6.5rem;
  display: flex;
  height: var(--homeBlog-height);
  flex-direction: column;
}

.blogLeft {
  flex: 1;
  background-color: var(--background-color);
  display: flex;
}

.blogRight {
  flex: 1;
  background-color: var(--background-color);
}

.blogLeftTop {
  flex: 1;
}

.blogLeftMiddle {
  flex: 2;
}

.blogLeftBottom {
  flex: 1;
}

.blogLaptop {
  position: relative;
  top: 5rem;
  right: 0rem;
}

.numberBlog {
  font: var(--number-font);
  position: relative;
  left: 5rem;
  top: 1rem;
  color: var(--accent-two);
}

.myBlog {
  font-size: 4.5rem;
  position: relative;
  left: 16rem;
  top: -4rem;
}

.myBlogAnswer {
  font-size: 1.25rem;
  position: relative;
  left: 14rem;
  top: -1rem;
}
