.laptop {
  perspective: 240px;
  width: 450px;
  height: 350px;
  margin: 50px auto;
}

.screen {
  height: 15rem;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.75rem solid var(--accent-one);
}

.keyboard {
  height: 60px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  transform: rotateX(70deg);
  transform-origin: top;
  border: 0.15rem solid var(--accent-one);
  border-top: none;
}

.keyboard-row {
  display: flex;
  flex: 1;
  width: 100%;
}

.key {
  flex: 1;
  margin: 1px;
  background-color: #ccc;
  border-radius: 2px;
}

.wide-key {
  flex: 1.5; /* Make these keys 50% wider than normal keys */
}

.extra-wide-key {
  flex: 6; /* Spacebar significantly wider */
}
