/*=============== HOME PAGE ===============*/
.main {
  background: white;
}

.homeExperience,
.homeProjects,
.homeBlog,
.homeResources {
  height: var(--section-height);
  text-align: center;
  border-style: solid;
  border-color: black;
}

.homeMain,
.homeAbout {
  height: var(--homeMain-height);
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== CSS VARIABLES ===============*/
:root {
  /*========== Section Heights ==========*/
  --homeMain-height: 45rem;
  --section-height: 35rem;

  /*========== Colors ==========*/
  --background-color: #ffffff;
  --header-color: #ded9d9;
  --header-text-color: #000000;
  --footer-color: #ded9d9;
  --footer-text-color: #000000;
  --body-text-color: #000000;

  /*========= Font and typography ==========*/
  --header-font: "Poppins", sans-serif;
  --footer-font: "Arial", sans-serif;
  --body-font: "Poppins", sans-serif;

  /*========= Font weight ==========*/
  --font-normal: 450;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========= z index ==========*/
  --z-fixed: 100;
}
