.main {
  padding: var(--top-pading);
  background-color: var(--home-color);
  width: 100%;
  margin: 0;
  padding: 0;
}

.homeMain,
.homeAbout,
.homeExperience,
.homeProjects,
.homeBlog,
.homeResources {
  border-style: solid;
  border-color: black;
  margin-top: 5rem;
  height: var(--section-height);
  text-align: center;
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== CSS VARIABLES ===============*/
:root {
  --top-pading: 4rem;
  --header-height: 3rem;
  --section-height: 35rem;
  --left-margin: -2rem;
  --right-margin: -2rem;

  /*========== Colors ==========*/
  --header-color: #2a3167;
  --header-text-color: #f3f5f5;
  --footer-color: #b02836;
  --footer-text-color: #f3f5f5;
  --home-color: #f3f5f5;

  /*========= Font and typography ==========*/
  --header-font: "Poppins", sans-serif;
  --footer-font: "Arial", sans-serif;

  /*========= Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========= z index ==========*/
  --z-fixed: 100;
}
