a {
    text-decoration: none;
}

a:hover {
    color: #d92862;
}

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--header-color);
}

.header-bar {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.header-logo {
    color: var(--header-text-color);
    font-weight: var(--font-medium);
    margin-left: 2rem;
    font-family: var(--header-font);
}

.header-content-list {
    color: var(--header-text-color);
    display: flex;
    column-gap: 3.5rem;
    list-style-type: none;
    margin-right: 3.5rem;
    font-family: var(--header-font);
}