* {
  box-sizing: border-box;
}

a.header-link,
a.header-link:visited,
a.header-link:active {
  text-decoration: none;
  color: var(--header-text-color);
}

a.header-link:hover {
  color: var(--accent-two);
}

.header-container {
  height: 90px;
  background: var(--header-color);
  border-bottom: 1.5px solid var(--header-text-color);
  display: flex;
  color: var(--header-text-color);
  font-family: var(--font-family);
  font-size: 16px;
}

.header-section-1 {
  flex: 1;
  border-right: 1.5px solid var(--header-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 70px;
}

.header-section-2 {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 30px 0 0;
}

.header-content-list {
  display: flex;
  column-gap: 40px;
  list-style-type: none;
  font-weight: var(--font-medium);
}

/* For Phones */
@media screen and (max-width: 768px) {
  .header-container {
    height: 10vh;
    font-size: 1vh;
  }

  .header-section-1 {
    flex: 1;
    border-right: 1.5px solid var(--header-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 70px;
  }

  .header-section-2 {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 30px 0 0;
  }

  .header-content-list {
    display: flex;
    column-gap: 40px;
    list-style-type: none;
    font-weight: var(--font-medium);
  }
}
