/*=============== HOME PAGE ===============*/
.homeMain,
.homeAbout,
.homeExperience,
.homeProjects,
.homeBlog {
  height: var(--homeSection-height);
}

.homeResources {
  height: var(--homeResources-height);
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== CSS VARIABLES ===============*/
:root {
  /*========== Section Heights ==========*/
  --footer-height: 15rem;

  --homeSection-height: 45rem;
  --homeAbout-height: 38.5rem;
  --homeExperience-height: 38.5rem;
  --homeProjects-height: 38.5rem;
  --homeBlog-height: 38.5rem;
  --homeResources-height: 38.5rem;

  /*========== Colors ==========*/
  --accent-one: #002e50; /* navy blue */
  --accent-two: #ec4021; /* orange */

  --background-color: #ffffff;
  --header-color: #f5f5f5;
  --header-text-color: var(--accent-one);
  --footer-color: #ded9d9;
  --footer-text-color: #ffffff;
  --body-text-color: #000000;

  /*========= Font and typography ==========*/
  --header-font: "Poppins", sans-serif;
  --footer-font: "Arial", sans-serif;
  --body-font: "Poppins", sans-serif;

  /*========= Font weight ==========*/
  --font-normal: 450;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========= z index ==========*/
  --z-fixed: 100;
}
