.contact-form {
  display: flex;
  height: 100%;
}

.personal-info,
.additional-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.personal-info {
  align-items: center;
}

.form-label {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.input-text {
  height: 3.5rem;
  width: 14.5rem;
  padding-left: 1rem;
  font-family: var(--font-family);
  font-size: 0.9rem;
  border: none;
}

.input-text,
.additional-text {
  background-color: var(--background-color);
}

.message-container,
.category-submit-container {
  flex: 1;
}

.category-submit-container {
  display: flex;
  gap: 0.75rem;
}

.option:focus {
  background-color: var(--accent-two);
  color: var(--background-color);
}

.message-text {
  height: 9rem;
  width: 18rem;
  margin-bottom: 0.25rem;
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: var(--font-family);
  font-size: 0.9rem;
  border: none;
  resize: none;
}

.category-text {
  height: 2.25rem;
  width: 12.5rem;
  padding-left: 1rem;
  font-family: var(--font-family);
  font-size: 0.9rem;
  border: none;
}

.submit-button {
  height: 2.25rem;
  width: 5.9rem;
  font-family: var(--font-family);
  font-size: 0.9rem;
  border: none;
}

.submit-button:hover {
  background-color: var(--accent-two);
  color: var(--background-color);
}
