.footer-container {
  background-color: var(--footer-color);
  padding-top: 8rem;
  display: flex;
  height: var(--footer-height);
}

.footerSection {
  flex: 1;
  color: var(--footer-text-color);
}

.section1,
.section2,
.section3 {
  display: flex;
  justify-content: center;
}
