/* Container positioning */
.homeMain-container {
  height: 92.5vh;
  background: var(--header-color);
  display: flex;
  flex-direction: column;
}

/* Greetings */
.homeMain-greetings {
  display: flex;
  flex-direction: column;
}

.first-greeting {
  font: 5vh roboto-thin, roboto, sans-serif;
  color: var(--accent-two);
  display: flex;
  justify-content: center;
}

.first-greeting-text {
  padding-top: 3vh;
  margin: 0;
}

.second-greeting {
  font: 5.5vh roboto-bold, roboto, sans-serif;
  color: var(--accent-one);
  display: flex;
  flex-direction: column;
}

.second-greeting-text {
  margin: 0;
  display: flex;
  justify-content: center;
}

.second-greeting-text-1 {
  padding-top: 2vh;
}

.third-greeting {
  font: 2.75vh "Poppins", sans-serif;
  color: var(--accent-one);
  text-align: center;
}

.third-greeting-text {
  padding-top: 2vh;
  margin: 0;
}

/* Picture and Circles */
.homeMain-picture-and-socials {
  display: flex;
  flex-direction: column;
}

.homeMain-picture {
  padding-top: 5vh;
}

.homeMain-circle-box {
  display: flex;
  justify-content: center;
}

.big-circle {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: var(--accent-one);
  background-image: url("../../../../Assets/Photos/profileImage.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.small-circle {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  background-color: var(--accent-two);
  margin-left: -11vh;
  margin-top: 14vh;
}

.play-circle {
  color: white;
  margin-top: 9vh;
  margin-left: 2.5vh;
  font-size: 4vh;
}

a.play-circle-link,
a.play-circle-link:visited,
a.play-circle-link:active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: color 0.3s;
}

/* Socials */
.homeMain-socials {
  padding-top: 2.25vh;
  display: flex;
  justify-content: center;
}

.socials-content-list {
  padding: 0;
  display: flex;
  column-gap: 6vh;
  list-style-type: none;
}

.social-icon {
  color: var(--accent-one);
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--accent-two);
}

.social-icon-list-item {
  transition: transform 0.3s ease;
}

.social-icon-list-item:hover {
  color: var(--accent-two);
  transform: scale(1.2);
}

.icon {
  font-size: 3.75vh;
}

/* Media Queries */
@media (width: 344px) {
  .first-greeting {
    font-size: 4.25vh;
  }

  .first-greeting-text {
    padding-top: 4vh;
  }

  .second-greeting {
    font-size: 4vh;
  }

  .second-greeting-text-1 {
    padding-top: 3.5vh;
  }

  .third-greeting {
    font-size: 2vh;
  }

  .third-greeting-text {
    padding-top: 4vh;
    margin: 0;
  }

  .big-circle {
    width: 27.5vh;
    height: 27.5vh;
  }

  .small-circle {
    width: 17.5vh;
    height: 17.5vh;
  }

  .homeMain-picture {
    padding-top: 7vh;
  }

  .socials-content-list {
    column-gap: 4vh;
  }

  .homeMain-socials {
    padding-top: 6.5vh;
  }

  .icon {
    font-size: 3.25vh;
  }

  .play-circle {
    font-size: 3.25vh;
    margin-top: 8vh;
  }
}

@media (width: 360px) or (min-width: 390px) {
  .first-greeting {
    font-size: 4.5vh;
  }

  .first-greeting-text {
    padding-top: 4vh;
  }

  .second-greeting {
    font-size: 4.75vh;
  }

  .third-greeting {
    font-size: 2.25vh;
  }

  .third-greeting-text {
    padding-top: 3vh;
    margin: 0;
  }

  .homeMain-picture {
    padding-top: 6vh;
  }

  .socials-content-list {
    column-gap: 5vh;
  }

  .homeMain-socials {
    padding-top: 4.5vh;
  }

  .icon {
    font-size: 3.5vh;
  }

  .play-circle {
    font-size: 3.75vh;
  }
}

@media (width: 360px) {
  .first-greeting {
    font-size: 5vh;
  }
}

@media (min-width: 540px) {
  .first-greeting {
    font-size: 5vh;
  }

  .first-greeting-text {
    padding-top: 3vh;
  }

  .second-greeting {
    font-size: 5vh;
  }

  .third-greeting {
    font-size: 3vh;
  }

  .third-greeting-text {
    padding-top: 3vh;
    margin: 0;
  }

  .homeMain-picture {
    padding-top: 4vh;
  }

  .socials-content-list {
    column-gap: 8vh;
  }

  .homeMain-socials {
    padding-top: 3.5vh;
  }

  .icon {
    font-size: 3.75vh;
  }

  .play-circle {
    font-size: 4vh;
  }
}

@media (min-width: 1280px) {
  .homeMain-container {
    flex-direction: row;
  }

  .first-greeting {
    font-size: 8vh;
    justify-content: left;
    padding-left: 11vh;
  }

  .first-greeting-text {
    padding-top: 12vh;
    margin: 0;
  }

  .second-greeting {
    font-size: 7.5vh;
    padding-left: 10vh;
  }

  .second-greeting-text {
    justify-content: left;
  }

  .second-greeting-text-1 {
    padding-top: 3vh;
  }

  .third-greeting {
    display: flex;
    justify-content: left;
    padding-left: 11vh;
    font-size: 3vh;
  }

  .homeMain-greetings {
    flex: 1;
  }

  .homeMain-picture-and-socials {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
  }

  .big-circle {
    width: 45vh;
    height: 45vh;
  }

  .small-circle {
    width: 30vh;
    height: 30vh;
    margin-left: -20vh;
    margin-top: 24vh;
  }

  .play-circle {
    margin-top: 15vh;
    margin-left: 3vh;
    font-size: 5vh;
  }

  .homeMain-socials {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
  }

  .socials-content-list {
    column-gap: 8.5vh;
  }

  .social-icon-list-item:hover {
    transform: scale(1.4);
  }

  .icon {
    font-size: 4.5vh;
  }
}
