.homeMain-container {
  display: flex;
}

.mainSection {
  flex: 1;
  height: var(--homeMain-height);
  display: flex;
  flex-direction: column;
}

.mainLeft {
  background-color: #f5f5f5;
}

.leftSection {
  flex: 1;
}

.mainRight {
  background-color: #f5f5f5;
  display: flex;
}

.mainTop {
  position: relative;
  top: 12rem;
  left: 10rem;
}

.playCircle {
  position: absolute;
  bottom: 12.5rem;
  left: 63.75rem;
}

a.playCircle-link,
a.playCircle-link:visited,
a.playCircle-link:active {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.3s;
}

a.playCircle-link:hover {
  color: var(--header-text-color);
}

.socials {
  flex: 1;
  display: flex;
  column-gap: 2.5rem;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
}

a.social-icon,
a.social-icon:visited,
a.social-icon:active {
  text-decoration: none;
  color: var(--header-text-color);
  transition: color 0.3s, transform 0.3s;
}

a.social-icon:hover {
  color: #d92862;
  transform: scale(1.4);
}

@keyframes popUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.popUpAnimation {
  animation: popUp 1s ease-out forwards;
  transform-origin: center;
}
