.homeMain-container {
  display: flex;
}

.mainSection {
  flex: 1;
  height: var(--homeMain-height);
  display: flex;
  flex-direction: column;
}

.mainLeft {
  background-color: #f5f5f5;
}

.leftSection {
  flex: 1;
}

.mainRight {
  background-color: #f5f5f5;
  display: flex;
}

.playCircle {
  position: absolute;
  bottom: 12.5rem;
  left: 65.75rem;
  color: #f5f5f5;
}

.mainTop {
  position: relative;
  top: 12rem;
  left: 10rem;
}

.socials {
  flex: 1;
  display: flex;
  column-gap: 2.5rem;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
}

a.social-icon,
a.social-icon:visited,
a.social-icon:active {
  text-decoration: none;
  color: #002e50;
  transition: color 0.3s, transform 0.3s; /* Smooth transition for color and transform */
}

a.social-icon:hover {
  color: #d92862;
  transform: scale(1.4); /* Enlarge the icon */
}
