.homeResources-container {
  display: flex;
}

.resourcesSection {
  padding-top: 6.5rem;
  display: flex;
  height: var(--homeResources-height);
  flex-direction: column;
}

.resourcesLeft {
  flex: 1;
  background-color: #dbdcdb;
  display: flex;
}

.resourcesRight {
  flex: 1;
  background-color: #faf4f4;
}

.resourcesLeftTop {
  flex: 1;
  text-align: center;
}

.resourcesLeftMiddle {
  flex: 2;
  text-align: center;
}

.resourcesLeftBottom {
  flex: 1;
}

.resourcesIPhone {
  position: relative;
  top: 5rem;
  right: 0rem;
}
